/*Estilos pertenecientes al foro*/

.dv_forumtopic {
  border: solid 1.5px;
  border-radius: 5px;
  margin: 1% auto 0% auto;
  width: 90%;
  display: flex;
  background: rgb(0, 0, 0);
}

.dv_forumtopic:hover {
  background-color: rgb(115, 114, 145);
  cursor: pointer;
}

.dv_forumtopic:hover .dv_forumtitle {
  background-color: rgb(174, 180, 200);
}

.dv_forumimage {
  width: 8%;
  padding: 1%;
  margin: 0.5%;
  display: inline-block;
  border-radius: 4px 0px 0px 4px;
  background-color: rgb(56, 56, 56);
  margin-right: 0%;
}

.dv_forumimage img {
  vertical-align: middle;
  width: 100%;
  padding: 2%;
}

.dv_forummsgheader {
  margin: 0.5%;
  margin-left: 0%;
  display: flex;
  width: 100%;
}

.dv_forumtitle {
  width: 100%;
  background-color: rgb(251, 251, 251);
  padding: 0.5% 2% 0.5% 2%;
}

.p_forumtitletopic {
  font-weight: bold;
  width: 100%;
  margin-bottom: 1%;
}

.p_forumlastmsg {
  width: 100%;
  font-size: 12px;
}

.p_forumlastmsg b {
  width: 100%;
  font-style: italic;
}

.dv_forummsgcounter {
  justify-content: center;
  display: flex;
  width: 10%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 6px;
  background-color: rgb(37, 42, 68);
}

.dv_forummsgcounter img {
  width: 80%;
  vertical-align: middle;
  height: auto;
}

.dv_forummsgcounter p {
  background: none;
}

.dv_forummsgcounter p,
.dv_forummsgcounter b {
  padding: 2% 1% 1% 1%;
  text-align: center;
  color: white;
  font-size: 16px;
  margin-bottom: 5%;
}

.dv_forummsgcounter b {
  margin-bottom: 4%;
}

.dv_forummsglast {
  padding: 0% 1% 0% 1%;
  margin: 0.5%;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}

.p_forummsgdate {
  margin-right: 1%;
  text-align: right;
  font-size: 12px;
}

.dv_forumcontent {
  width: 100%;
  display: flex;
}

/*Estilos pertenecientes a los mensajes del foro*/
.topic_hover {
  background-color: red;
}

.dv_topicposts {
  overflow: hidden;
  display: none;
  width: 88%;
  background: rgb(34, 34, 34);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: auto;
  padding-top: 2%;
}

.dv_topicmessage {
  background: rgb(241, 241, 241);
  border: solid 1.5px;
  margin: 0% auto 1% auto;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5%;
  border-radius: 4px;
}

.dv_usermsgp p {
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgb(255, 255, 255);
  font-size: 15px;
  border-top: solid 2px black;
  padding: 1%;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}

.dv_topicprofileimg {
  border-top-left-radius: 2.5px;
  padding: 1%;
  display: inline-block;
  background-color: rgb(32, 32, 32);
}

.dv_topicprofileimg img {
  vertical-align: middle;
  height: 40px;
  padding: 2%;
  border-radius: 2px;
}

.dv_topicpostdate {
  width: 100%;
  text-align: right;
}

.dv_topicpostdate p {
  margin: 0.5%;
  font-size: 12px;
}

.dv_topicusercontent {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.dv_topicusername {
  padding: 1.2% 1% 1% 2%;
  background-color: rgb(73, 73, 73);
  width: 100%;
  border-top-right-radius: 2.5px;
}

.p_topicusername {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.p_topicemail {
  width: 100%;
  font-size: 12px;
  color: rgb(197, 197, 197);
}

.dv_topicform {
  justify-content: center;
  display: flex;
  border-radius: 5px;
}

.dv_topicinput {
  width: 80%;
  margin: 2% 5% 2% 5%;
  padding: 2%;
  border-radius: 5px;
  background: rgb(137, 137, 137);
  justify-content: center;
  display: flex;
  border: solid 2px black;
}

.txt_topicinput {
  margin-right: 2%;
  border-radius: 5px;
  border: solid 2px black;
  padding: 3.5%;
  width: 85%;
}

.txt_topicsend {
  margin: 2%;
  border-radius: 5px;
  width: 15%;
  padding: 1%;
  border: solid 2px black;
  font-size: 80%;
}

/*Estilos pertenecientes a los estudiantes*/

.dv_student {
  border: solid 1.5px;
  border-radius: 5px;
  margin: 1% auto 1% auto;
  width: 95%;
  display: flex;
  background-color: white;
}

.dv_studentemail p {
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px 0px 0px 3px;
  padding: 0% 1% 0% 1%;
}

.dv_studentimage {
  padding: 0.5%;
  margin: 0.5%;
  display: inline-block;
  border-radius: 4px;
  border: solid 1px black;
  background-color: rgb(82, 69, 69);
}

.dv_studentimage img {
  vertical-align: middle;
  height: 40px;
  padding: 2%;
}

.dv_studentemail {
  display: flex;
  width: 100%;
}

.dv_studentemail p {
  padding: 0.2%;
  width: 95%;
  padding: 1%;
}

.dv_studentsend {
  text-align: right;
  display: flex;
  width: 5%;
  float: left;
  border-radius: 4px;
  background-color: rgb(57, 58, 63);
  margin-right: 0.5%;
  margin-bottom: 0.5%;
}

.dv_studentsend img {
  width: 100%;
  vertical-align: middle;
  height: auto;
}

.dv_studentsend:hover {
  background-color: rgb(228, 228, 233);
  cursor: pointer;
}

.dv_studentscontent {
  width: 100%;
  margin-top: 0.1%;
}

.dv_studentsname {
  padding: 0% 1% 0% 1%;
  margin: 0.5%;
  background-color: rgb(233, 233, 233);
  border-radius: 2.5px;
  font-weight: bold;
}
